<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Layaut/index::head">
	<meta charset="UTF-8" />
</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">

		<!-- Preloader -->
		<div class="preloader flex-column justify-content-center align-items-center">
			<img class="animation__shake" src="/dist/img/logo-fiesta.png" alt="AdminLTELogo" height="60" width="60">
		</div>
		<header th:replace="Layaut/index::header"></header>
		<aside class="main-sidebar sidebar-dark-primary elevation-4" th:replace="Layaut/index::sidebar"> </aside>


		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div th:replace="Layaut/index::header1"></div>

			<!-- contenido dinamico -->

			<section class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">CANDIDATA</h3>
            </div>

            <!-- Mensajes de éxito y error -->
            <div th:if="${mensajeExito}" class="alert alert-success">
                <p th:text="${mensajeExito}"></p>
            </div>
            <div th:if="${mensajeError}" class="alert alert-danger">
                <p th:text="${mensajeError}"></p>
            </div>

            <div class="card-body">
                <section class="content">
                    <div class="container-fluid">
                        <div class="card card-default">
                            
                            <div class="card-body">
                                <form th:action="@{/candidata/crear}" th:object="${can}" method="post">

                                    <div class="row">
                                        <!-- Columna izquierda -->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nombre</label>
                                                <input type="text" class="form-control" th:field="*{nombre}" required />
                                            </div>

                                            <div class="form-group">
                                                <label>Apellido</label>
                                                <input type="text" class="form-control" th:field="*{apellido}" required />
                                            </div>

                                            <div class="form-group">
                                                <label>Fecha de Nacimiento:</label>
                                                <input type="date" min="2006-01-01" max="2011-12-29"
                                                       class="form-control" th:field="*{fecha}" required />
                                            </div>

                                            <div class="form-group">
                                                <label>DNI</label>
                                                <input type="number" class="form-control" th:field="*{dni}" required />
                                            </div>
                                        </div>

                                        <!-- Columna derecha -->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Localidad</label>
                                                <input type="text" class="form-control" th:field="*{localidad}" required />
                                            </div>

                                            <div class="form-group">
                                                <label>Institución</label>
                                                <input type="text" class="form-control" th:field="*{institucion}" required />
                                            </div>

                                            <div class="form-group">
                                                <label>Elección</label>
                                                <select class="form-control" name="eleccionId" required>
                                                    <option value="">Selecciona la Elección</option>
                                                    <option th:each="el : ${ele}" th:value="${el.id}" th:text="${el.nombre}">
                                                    </option>
                                                </select>
                                            </div>

                                            
                                        </div>
                                    </div>

                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Guardar Candidata</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>



							<!-- /.fin de contenido -->
						</div>
			</section>




			<!-- Control Sidebar -->
			<aside class="control-sidebar control-sidebar-dark">
				<!-- Control sidebar content goes here -->
			</aside>
			<!-- /.control-sidebar -->
		</div>
		<!-- ./wrapper -->
		<!-- Mensaje de éxito -->

	</div>



	<footer th:replace="Layaut/index::footer"></footer>

</body>

</html>