<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Layaut/index::head">
	<meta charset="UTF-8" />
</head>

<body class="hold-transition sidebar-mini layout-fixed">


	<div class="wrapper">

		<!-- Preloader -->
		<div class="preloader flex-column justify-content-center align-items-center">
			<img class="animation__shake" src="/dist/img/logo-fiesta.png" alt="AdminLTELogo" height="60" width="60">
		</div>
		<header th:replace="Layaut/index::header"></header>
		<aside class="main-sidebar sidebar-dark-primary elevation-4" th:replace="Layaut/index::sidebar"> </aside>


		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div th:replace="Layaut/index::header1"></div>

			<!-- contenido dinamico -->

			<section class="content">
				<div class="container-fluid">



					<div class="card mb-4">
						<div class="card-body">

							<div class="card-header bg-primary text-white">

								<h5 class="card-title">Puntajes Otorgados</h5>

							</div>
							<div class="card-body">
								<table id="example1" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Candidata</th>
											<th>Actividad</th>
											<th>Item</th>
											<th>Puntaje</th>
											<th>Jurado</th>
											<!--<th>Totales</th>-->

										</tr>
									</thead>
									<tbody>
										<tr th:each="ev, stat: ${evaluaciones}">
											<td th:text="${ev.candidata.nombre + ' ' + ev.candidata.apellido}"></td>
											<td th:text="${ev.item.actividad.nombre}"></td>
											<td th:text="${ev.item.nombre}"></td>
											<td th:text="${ev.nota}"></td>
											<td th:text="${ev.jurado.nombre + ' '+ ev.jurado.apellido}"></td>
											<!-- Total: solo en la primera fila de cada candidata -->
											<!--<td th:if="${stat.first or !(evaluaciones[stat.index-1].candidata.equals(ev.candidata))}" th:rowspan="3"
												th:text="${totales[ev.candidata]}">
											</td>-->
										</tr>
									</tbody>
								</table>
								<div class="card-body">
								<table id="example5" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Candidata</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="entry : ${totales.entrySet()}">
            <td th:text="${entry.key.nombre + ' ' + entry.key.apellido}"></td>
            <td th:text="${entry.value}"></td>
        </tr>
    </tbody>
</table>
								</div>

								<a th:href="@{/juez/principal}" class="btn btn-secondary">Volver</a>
							</div>
						</div>



					</div>
					<!-- /.container-fluid -->
				</div>

			</section>
			<!-- /.fin de contenido -->
		</div>




		<footer th:replace="Layaut/index::footer"></footer>

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->



</body>

</html>